@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
section.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin: 100px 0;
    padding: 0 15px;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}
.heading .contact-header{
    font-size: 36px;
    font-weight: 700;
    color: #101828;
    margin-bottom: 10px;
}
.heading .contact-desc{
    font-size: 16px;
    font-weight: 400;
    color: #475467;
    margin-bottom: 38px;
}
form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
label{
    font-size: 14px;
    font-weight: 500;
    color: #344054;
    margin: 8px 0;
}
input{
    border-radius: 8px;
    padding: 10px 14px;
    border: 1px solid #D0D5DD;
    width: 100%;
    outline: none;
}
.name-field{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.name-field div input{
    width: 100%;
}
textarea{
    width: 100%;
    height: 132px;
    padding: 10px 14px;
    border: 1px solid #D0D5DD;
    resize: none;
    color: #101828;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    outline: none;
}
textarea:focus{
    border-radius: 8px;
    outline: 1px solid #84CAFF;
    box-shadow: 0  0 0 4px #D1E9FF, 0 1px 2px #1018280D;
}
textarea::placeholder{
    color: #667085;
    font-size: 16px;
    font-weight: 400;
}
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 12px 0;
}
.checkbox input{
    width: 20px;
    margin-right: 3px;
}
.checkbox span{
    font-size: 16px;
    font-weight: 400;
    color: #475467;
}

.btn-contact{
    background: #1570EF;
    color: #fff;
    width: 100%;
    height: 48px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
}
.btn-contact:hover{
    background: #175CD3;
    transition: all 0.4s ease;
}
.btn-contact:focus{
    box-shadow: 0  0 0 4px #D1E9FF, 0 1px 2px #1018280D;
    transition: all 0.4s ease;
}
.error-b{
    border: 1px solid #F89687;
}
.error-m{
    font-size: 16px;
    font-weight: 600;
    color: #F83F23;
    margin-top: 4px;
}
.error-b:focus{
    outline: 1px solid #F89687;
    box-shadow: 0 0 0 4px #FFD3CC, 0 1px 2px 0 #1018280D;
}
.check{
    background: #fff;
}

@media screen and (max-width: 560px) {
    section.form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 55px 0 75px 0;
        padding: 0 15px;
    }
    .form div{
        width: 100%;
    }
    .name-field{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .checkbox span{
        font-size: 14px;
    }
}